###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/tools/php-cs-fixer/vendor/
/tools/phpstan/vendor/bin/phpstan
/tools/phpstan/vendor/bin/phpstan.phar
/tools/phpstan/vendor/composer/autoload_classmap.php
/tools/phpstan/vendor/composer/autoload_files.php
/tools/phpstan/vendor/composer/autoload_namespaces.php
/tools/phpstan/vendor/composer/autoload_psr4.php
/tools/phpstan/vendor/composer/autoload_real.php
/tools/phpstan/vendor/composer/autoload_static.php
/tools/phpstan/vendor/composer/ClassLoader.php
/tools/phpstan/vendor/composer/installed.json
/tools/phpstan/vendor/composer/installed.php
/tools/phpstan/vendor/composer/InstalledVersions.php
/tools/phpstan/vendor/composer/LICENSE
/tools/phpstan/vendor/composer/platform_check.php
/tools/phpstan/vendor/phpstan/phpstan/conf/bleedingEdge.neon
/tools/phpstan/vendor/phpstan/phpstan/bootstrap.php
/tools/phpstan/vendor/phpstan/phpstan/composer.json
/tools/phpstan/vendor/phpstan/phpstan/LICENSE
/tools/phpstan/vendor/phpstan/phpstan/phpstan
/tools/phpstan/vendor/phpstan/phpstan/phpstan.phar
/tools/phpstan/vendor/phpstan/phpstan/phpstan.phar.asc
/tools/phpstan/vendor/phpstan/phpstan/README.md
/tools/phpstan/vendor/phpstan/phpstan-symfony/.github/workflows/build.yml
/tools/phpstan/vendor/phpstan/phpstan-symfony/.github/workflows/create-tag.yml
/tools/phpstan/vendor/phpstan/phpstan-symfony/.github/workflows/lock-closed-issues.yml
/tools/phpstan/vendor/phpstan/phpstan-symfony/.github/workflows/release.yml
/tools/phpstan/vendor/phpstan/phpstan-symfony/.github/workflows/release-toot.yml
/tools/phpstan/vendor/phpstan/phpstan-symfony/.github/workflows/release-tweet.yml
/tools/phpstan/vendor/phpstan/phpstan-symfony/.github/renovate.json
/tools/phpstan/vendor/phpstan/phpstan-symfony/build-cs/composer.json
/tools/phpstan/vendor/phpstan/phpstan-symfony/build-cs/composer.lock
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Rules/Symfony/ContainerInterfacePrivateServiceRule.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Rules/Symfony/ContainerInterfaceUnknownServiceRule.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Rules/Symfony/InvalidArgumentDefaultValueRule.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Rules/Symfony/InvalidOptionDefaultValueRule.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Rules/Symfony/UndefinedArgumentRule.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Rules/Symfony/UndefinedOptionRule.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Symfony/Configuration.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Symfony/ConsoleApplicationResolver.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Symfony/DefaultParameterMap.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Symfony/DefaultServiceMap.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Symfony/FakeParameterMap.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Symfony/FakeServiceMap.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Symfony/InputBagStubFilesExtension.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Symfony/Parameter.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Symfony/ParameterDefinition.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Symfony/ParameterMap.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Symfony/ParameterMapFactory.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Symfony/PasswordAuthenticatedUserStubFilesExtension.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Symfony/Service.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Symfony/ServiceDefinition.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Symfony/ServiceMap.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Symfony/ServiceMapFactory.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Symfony/XmlContainerNotExistsException.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Symfony/XmlParameterMapFactory.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Symfony/XmlServiceMapFactory.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Type/Symfony/Config/ValueObject/ParentObjectType.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Type/Symfony/Config/ValueObject/TreeBuilderType.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Type/Symfony/Config/ArrayNodeDefinitionPrototypeDynamicReturnTypeExtension.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Type/Symfony/Config/PassParentObjectDynamicReturnTypeExtension.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Type/Symfony/Config/ReturnParentDynamicReturnTypeExtension.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Type/Symfony/Config/TreeBuilderDynamicReturnTypeExtension.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Type/Symfony/Config/TreeBuilderGetRootNodeDynamicReturnTypeExtension.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Type/Symfony/Form/FormInterfaceDynamicReturnTypeExtension.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Type/Symfony/ArgumentTypeSpecifyingExtension.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Type/Symfony/CommandGetHelperDynamicReturnTypeExtension.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Type/Symfony/EnvelopeReturnTypeExtension.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Type/Symfony/GetOptionTypeHelper.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Type/Symfony/HeaderBagDynamicReturnTypeExtension.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Type/Symfony/Helper.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Type/Symfony/InputBagDynamicReturnTypeExtension.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Type/Symfony/InputBagTypeSpecifyingExtension.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Type/Symfony/InputInterfaceGetArgumentDynamicReturnTypeExtension.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Type/Symfony/InputInterfaceGetOptionDynamicReturnTypeExtension.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Type/Symfony/InputInterfaceGetOptionsDynamicReturnTypeExtension.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Type/Symfony/InputInterfaceHasArgumentDynamicReturnTypeExtension.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Type/Symfony/InputInterfaceHasOptionDynamicReturnTypeExtension.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Type/Symfony/KernelInterfaceDynamicReturnTypeExtension.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Type/Symfony/OptionTypeSpecifyingExtension.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Type/Symfony/ParameterDynamicReturnTypeExtension.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Type/Symfony/RequestDynamicReturnTypeExtension.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Type/Symfony/RequestTypeSpecifyingExtension.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Type/Symfony/ResponseHeaderBagDynamicReturnTypeExtension.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Type/Symfony/SerializerDynamicReturnTypeExtension.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Type/Symfony/ServiceDynamicReturnTypeExtension.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/src/Type/Symfony/ServiceTypeSpecifyingExtension.php
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Psr/Cache/CacheException.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Psr/Cache/CacheItemInterface.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Psr/Cache/InvalidArgumentException.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Bundle/FrameworkBundle/Test/KernelTestCase.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Bundle/FrameworkBundle/Test/TestContainer.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Bundle/FrameworkBundle/KernelBrowser.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/AuthenticatorFactoryInterface.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Bundle/SecurityBundle/DependencyInjection/Security/Factory/FirewallListenerFactoryInterface.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Console/Exception/ExceptionInterface.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Console/Exception/InvalidArgumentException.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Console/Exception/LogicException.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Console/Helper/HelperInterface.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Console/Output/OutputInterface.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Console/Command.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/DependencyInjection/Extension/ExtensionInterface.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/DependencyInjection/ContainerBuilder.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/EventDispatcher/EventDispatcherInterface.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/EventDispatcher/EventSubscriberInterface.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/EventDispatcher/GenericEvent.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Form/ChoiceList/Loader/ChoiceLoaderInterface.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Form/Exception/ExceptionInterface.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Form/Exception/RuntimeException.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Form/Exception/TransformationFailedException.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Form/AbstractType.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Form/DataTransformerInterface.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Form/FormBuilderInterface.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Form/FormFactoryInterface.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Form/FormInterface.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Form/FormTypeExtensionInterface.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Form/FormTypeInterface.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Form/FormView.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/HttpFoundation/Cookie.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/HttpFoundation/HeaderBag.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/HttpFoundation/InputBag.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/HttpFoundation/ParameterBag.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/HttpFoundation/Request.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/HttpFoundation/Session.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Messenger/Envelope.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Messenger/StampInterface.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/OptionsResolver/Exception/InvalidOptionsException.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/OptionsResolver/Options.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Process/Process.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/PropertyAccess/PropertyPathInterface.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Security/Acl/Model/AclInterface.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Security/Acl/Model/EntryInterface.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Security/Core/Authentication/Token/TokenInterface.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Security/Core/Authorization/Voter/Voter.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Security/Core/Authorization/Voter/VoterInterface.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Security/Core/User/PasswordAuthenticatedUserInterface.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Security/Core/User/PasswordUpgraderInterface.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Serializer/Encoder/ContextAwareDecoderInterface.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Serializer/Encoder/DecoderInterface.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Serializer/Encoder/EncoderInterface.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Serializer/Exception/BadMethodCallException.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Serializer/Exception/CircularReferenceException.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Serializer/Exception/ExceptionInterface.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Serializer/Exception/ExtraAttributesException.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Serializer/Exception/InvalidArgumentException.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Serializer/Exception/LogicException.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Serializer/Exception/RuntimeException.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Serializer/Exception/UnexpectedValueException.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Serializer/Normalizer/ContextAwareDenormalizerInterface.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Serializer/Normalizer/ContextAwareNormalizerInterface.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Serializer/Normalizer/DenormalizableInterface.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Serializer/Normalizer/DenormalizerInterface.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Serializer/Normalizer/NormalizableInterface.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Serializer/Normalizer/NormalizerInterface.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Validator/Constraint.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Validator/ConstraintViolationInterface.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Validator/ConstraintViolationListInterface.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Contracts/Cache/CacheInterface.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Contracts/Cache/CallbackInterface.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Symfony/Contracts/Cache/ItemInterface.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/stubs/Twig/Node/Node.stub
/tools/phpstan/vendor/phpstan/phpstan-symfony/.editorconfig
/tools/phpstan/vendor/phpstan/phpstan-symfony/composer.json
/tools/phpstan/vendor/phpstan/phpstan-symfony/extension.neon
/tools/phpstan/vendor/phpstan/phpstan-symfony/LICENSE
/tools/phpstan/vendor/phpstan/phpstan-symfony/README.md
/tools/phpstan/vendor/phpstan/phpstan-symfony/rules.neon
/tools/phpstan/vendor/autoload.php
